{% extends "customization_base.html" %}
{% block content %}
<form action="{{ url_for('add_slot') }}" method="POST">
  <input type="image" src="{{pic}}" class="layout" name="editor"/>
  <input type="hidden" id="next_stage" name="next" value="{{pic}}"/>
  <input type="hidden" id="pic_path" name="path" value="{{path}}"/>
</form>

<form action="{{ url_for('add_first_street')}}" method="POST">
  <label class="tool-box2" for="gate">Add Slot</label><br>
  <input class="tool-box3" type="submit" name="add_street" value="Next" >
  <input type="hidden" id="next_stage" name="next" value="{{pic}}"/>
  <input type="hidden" id="pic_path" name="path" value="{{path}}"/>
</form>
{% endblock content %}
